<section class="container" id="works">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <h4 class="s-title" style="font-size:1.5rem">
        bio
      </h4>
      <p>

    I am a technology and science enthusiast.<br>
        I started coding when websites were still made up of &lt;tables> and JavaScript was just used as an ornament.
        <br>
        <br>
        I love doing creative and innovative things that I can be proud of, once they are finished. I also like working for something that could help doing something good. I don't expect to change the world alone, but I would be glad if my work could do its part.
        <br><br>
        My specialties include quickly learning new technologies and adapting to new situations and environments.
        I'm specialized in Javascript Developing, since I know three of the most important JS frameworks (Angular, Vue and React) and I also know very well HTML, (S)CSS. I also have been working for a while as a Full Stack Developer using pure PHP, the most common CMSs (Wordpress, Prestashop and Joomla) and actual PHP frameworks (Symfony and Laravel).
      </p>
    </div>

  </div>
  <hr>
  <br>
  <div class="row" *ngFor="let work of works">
    <div class="col-12 col-lg-8 offset-lg-2 work">
      <div class="image">
        <img src="{{work.companyImage}}" alt="{{work.companyName}} logo" title="{{work.title}} @{{work.companyName}}"/>
      </div>
      <div>
        <h3 class="bold">{{work.title}}</h3>
        <p class="company">{{work.companyName}}</p>
        <div class="duration">
          <p>
            <span>{{work.startDate| date:'MMM yyyy'}}</span>
            -
            <span *ngIf="!work.isCurrent; else present">{{work.endDate| date:'MMM yyyy'}}</span>
            <ng-template #present>Present</ng-template>
          </p>
          <span>
            &#183;
          </span>
          <p>
            {{formatDuration(work.endDate, work.startDate) }}
          </p>
        </div>
        <p [innerHTML]="work.description" class="description"></p>
      </div>
    </div>
  </div>
</section>

<section class="container" id="divertissements">
  <div class="row">
    <div class="col-12">
      <h4 class="s-title">
        divertissement
      </h4>
    </div>
    <div class="col-6 col-lg-4" *ngFor="let divertissement of divertissements">
      <div class="divertissement" [ngStyle]="{'background-image': 'url(/assets/images/divertissements/'+divertissement.image+'.png)'}">
        <p class="description">
          <span class="title"> {{divertissement.title}}</span>
          <span class="technology">{{divertissement.technology}}</span>
        </p>
        <a class="description" target="_blank" href="{{divertissement.link}}">VIEW</a>
      </div>
    </div>
  </div>
</section>
