<div id="app-header">
  <div class="container">
    <div class="row">
      <div routerLink="/" class="col-3">
        <a routerLink="/" class="logo">
          LT
        </a>
      </div>
      <nav class="col-9">
        <a routerLink="/" fragment="skills">
          <span>Skills</span>
        </a>
        <a routerLink="/works">
          <span>Works</span>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/ludovico-t-374957180/">
          <span><i class="icon-linkedin"></i></span>
        </a>
        <a target="_blank" href="https://github.com/lutam/">
          <span><i class="icon-github"></i></span>
        </a>
      </nav>
    </div>
  </div>
</div>
